.pad-left{
    padding-left: 10px;
}

.well div{
    color : lightblue
}

.thumbnail{
    min-height: 240px;
}

.green{
    color:chartreuse !important;
    font-weight: bold;
}

.orange{
    color: orange !important;
}