<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="saveUpdate()" novalidate>
        <div class="form-group" [ngClass]="{'inputError':profileForm.controls.firstName.invalid}">
          <label for="firstName">First Name:</label>
          <em *ngIf="profileForm.controls.firstName?.errors?.required">Required</em>
          <em *ngIf="profileForm.controls.firstName?.errors?.pattern">name cannot start with digit</em>
          <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{'inputError':profileForm.controls.lastName.invalid}">
          <label for="lastName">Last Name:</label>
          <em *ngIf="profileForm.controls.lastName.invalid">Required</em>
          <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-default" style="margin-left: 20px;"
        (click)="handleCancel()">Cancel</button>
      </form>
    </div>
  </div>