<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{event?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Date:</strong> {{event?.date | date : "d/M/y"}}</div>
        <div><strong>Time:</strong> {{event?.time}}</div>
        <div><strong>Price:</strong> {{event?.price | currency : "USD"}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong><br />
          {{event?.location?.address}}<br />
          {{event?.location?.city}}, {{event?.location?.country}}
        </address>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-md-2">
          <h3 style="margin-bottom: 30px;">Sessions</h3>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" [disabled]="addMode" (click)="addSession()"> Add Session</button>
          <!-- <a (click)="addSession()">Add Session</a> -->
        </div>
      </div>
      <create-session *ngIf="addMode" (saveSessionEvent)="saveNewSession($event)"></create-session>
      <session-list *ngIf="!addMode" [sessions]='event?.sessions'></session-list>
    <hr>
    <div class="row" *ngIf="!addMode"> 
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)='handleBackButton()' >Back</button>
        </div>
    </div>
  </div>