.nav.navbar-nav{
    font-size: 15px;
    font-style: italic;
}

#searchForm{
    margin-right: 100px;
}

li > a.active
{
    color: chartreuse;
}

li > a.activeUser
{
    color: orange;
}

@media(max-width:1200px) {#searchForm{display: none;}}